.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}



.logo {
  width: 120px;
}

.nav-items {
  margin-right: 10px;
  font-size: 24px;
  
}

.nav-items > ul {
  display: flex;

  list-style-type: none;
}

.nav-items > ul > li {
  margin: 25px;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffff;
}

.rest-card {
  width: 281px;
  border: 1px solid black;
  background-color: #f0f0f0;
  padding: 3px;
  margin: 3px;
}

.rest-card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffff;
}

.search {
  padding: 20px;
}

.reso-img {
  width: 100%;
  height: 130px;
  padding: 0;
}

.reso-img:hover {
  transform: perspective(400px) rotate3d(1, 1, 1, 5deg);
  filter: brightness(110%);
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-cards {
  margin: 30px;
  width: 310px;
  height: 361px;
  background-color: #f0f0f0;
}

.login-btn {
  margin: 25px;
  border-radius: 50px;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffff;
  cursor: pointer;
  font-size: 24px;
}
.menu {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.menu h2 {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  font-size: 16px;
  color: #555;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.menu ul li:last-child {
  border-bottom: none;
}


.menu h2 {
  font-style: italic;
  color: #888;
}
